%h1 Login
- form_for @conn, login_path(@conn, :create), [as: :login], fn f ->
  .form-group
    = text_input f, :username, placeholder: "Username", class: "form-control"
  .form-group
    = password_input f, :password, placeholder: "Password", class: "form-control"
  = submit "Log in", class: "btn btn-primary"
